{% extends 'core/base.html' %}

{% load static %}

{% block title %}Servicios{% endblock %}

{% block content %}
 
<div class="page_title text-center mb-4">
  <h1>Nuestro Menu</h1>
  <div class="single_line"></div>
</div>

  {% if services%}    
  <div class="row mx-auto">  
  {% for service in services %}    
      <!-- ITEM -->
      <div class="col-md-4  col-lg-3 col-12 p-2 mb-4">
          <div class="card m-1 p-1">
                  <div class="">
                      <img class="food_list_img card-img-top img-fluid" src="{{service.image.url}}">
                  </div>
              </a>
              <div class="card-body">
                 
                <H4><strong>{{service.title}}</strong></H4>
                <div class="flex" style="font-size:12px;">
                  <span class="serviceContent">({{service.content}})</span>
                </div><br>
               
                <span>Precio: $ {{service.price}}</span>
           
                 <div class="rating">
                    <ul>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="fas fa-star"></i></li>
                      <li><i class="far fa-star"></i></li>
                    </ul>
                  </div>
              </div>
          </div>
      </div> <!-- ITEM -->
  {% endfor %}
  </div> <!-- row -->        
{% else %}
{% endif %}



{% endblock %}